*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

!lib/*.jar

src/nbproject/private/
src/build/
src/nbbuild/
src/dist/
src/nbdist/
src/nbactions.xml
src/nb-configuration.xml
/src/solidFlow/nbproject/private/
/src/solidFlow/build/